body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    max-width: 1024;
}

header {
    display: flex;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    
}

.image-container {
    display: flex;
    display: block;
    background-size: cover;
    background-position: center top;
    background-image: url("hero.jpg");
    box-sizing: border-box;
    width: 1024px;
    height: 600px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
    height: fit-content;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.logo {
    width: 80px;
    height: 80px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.contact {
    display: flex;
    align-items: baseline;
}

#phone {
    padding-left: 20px;
}

.container1 {
    width: 400px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#text1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
}

#text2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}

#text3 {
    background-color: #f97316;
    height: 40px;
    width: 300px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
}

main {
    display: flex;
    display: block;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}

.dignity {
    display: flex;
    flex-direction: column;
}

.dignity-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 250px;;
    background-color: #fafaf9;
    padding: 10px;
    border-radius: 10px;
}

.box-first {
    margin-left: 100px;
    margin-right: 20px;
}

.box-last {
    margin-right: 100px;
    margin-left: 20px;
}

.box-title {
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
}

#box-text {
    font-weight: 200;
}

.box-logo {
    width: 50px;
    height: 50px;
    background-color: #f97316;
    border-radius: 10px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.box-icon {
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 13px;
}

.strategy {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 70px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-strategy {
    width: 50%;
}

.subtitle-strategy {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
}

.image-people {
    width: 50%;
    height: 250px;;
    object-fit: contain;
}

.text-strategy {
    margin-bottom: 20px;
}

.record {
    background-color: #ffedd5;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
}

.reviews {
    background-color: #fafaf9;
    padding-top: 70px;
}

#reviews-item {
    width: 50%;
    margin: auto;
}

.reviews-text {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px grey solid;
}

#price-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price-box {
    width: 250px;
    height: 250px;
    border: 1px grey solid;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
}

#time {
    font-size: 16px;
    color: #f97316;
    padding: 20px 0px 10px 10px;
}

#lessons {
    font-size: 18px;
    color: black;
    font-weight: 600;
    padding: 0px 0px 20px 10px;
}

.lessons-property {
    margin-left: 30px;
    font-weight: 300;
}

.price-record {
    width: 200px;
    height: 40px;
    background-color: #ffedd5;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;  
}

#price-record-text {
    color: #f97316;
    text-align: center;
    padding-top: 10px;
}

footer {
    background-color: #fafaf9;
    max-width: 1024px;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #78716c;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.contact-first {
    margin-left: 120px;
    padding-top: 30px;
}

.contact-last {
    margin-right: 120px;
    padding-top: 30px;
}